<div class='container_wrap footer_color' id='footer'>

    <div class='container'>

        <div class='flex_column av_one_fourth  first el_before_av_one_fourth'><section id="text-5" class="widget clearfix widget_text"><h3 class="widgettitle">Interesting Infos</h3>			<div class="textwidget"><p>Accelerate your supply chain; contact us:</p>
</div>
<span class="seperator extralight-border"></span></section></div><div class='flex_column av_one_fourth  el_after_av_one_fourth  el_before_av_one_fourth '><section id="text-4" class="widget clearfix widget_text"><h3 class="widgettitle">Amerix Logistics</h3>			<div class="textwidget"><p>P.o Box 20787-00100,<br />
Nairobi,Kenya</p>
<div><a href="mailto:info@amerixlogistics.com" rel="noreferrer">info@amerixlogistics.com</a></div>
<div><a href="https://www.amerixlogistics.com/" target="_blank" rel="noopener noreferrer">www.amerixlogistics.com</a></div>
<div></div>
<div></div>
<div></div>
</div>
<span class="seperator extralight-border"></span></section></div><div class='flex_column av_one_fourth  el_after_av_one_fourth  el_before_av_one_fourth '><section id="text-6" class="widget clearfix widget_text"><h3 class="widgettitle">Office Hours</h3>			<div class="textwidget"><p>Mo-Fr: 8:00-19:00<br />
Sa: 8:00-14:00<br />
So: closed</p>
</div>
<span class="seperator extralight-border"></span></section></div><div class='flex_column av_one_fourth  el_after_av_one_fourth  el_before_av_one_fourth '><section id="text-7" class="widget clearfix widget_text"><h3 class="widgettitle">Call:</h3>			<div class="textwidget"><div><strong>0722 467443 </strong></div>
<div><strong>0753 039 390</strong></div>
</div>
<span class="seperator extralight-border"></span></section></div>

    </div>


<!-- ####### END FOOTER CONTAINER ####### -->
</div>







<footer class='container_wrap socket_color' id='socket'  role="contentinfo" itemscope="itemscope" itemtype="https://schema.org/WPFooter" >
    <div class='container'>

        <span class='copyright'>© Copyright  2021  Amerix Logistics </span>

        <nav class='sub_menu_socket'  role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement" ><div class="avia3-menu"><ul id="avia3-menu" class="menu"><li id="menu-item-3108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-1"><a href="https://amerixlogistics.com/terms-of-service/" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Terms of Service</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
<li id="menu-item-3109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-2"><a href="https://amerixlogistics.com/terms-of-service/" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Terms of Service</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
<li id="menu-item-3106" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-3"><a href="https://amerixlogistics.com/legal-notice/" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Legal notice</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
<li id="menu-item-3107" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-4"><a href="https://amerixlogistics.com/legal-notice/" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Legal notice</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
</ul></div></nav>
    </div>

<!-- ####### END SOCKET CONTAINER ####### -->
</footer>