<div id='sub_menu1' class='av-submenu-container main_color  avia-builder-el-2  el_after_av_section  el_before_av_section  av-sticky-submenu submenu-not-first container_wrap fullsize' style='  z-index:301' >
	<div class='container av-menu-mobile-disabled '>
		<ul id='av-custom-submenu-1' class='av-subnav-menu av-submenu-pos-center'>
			<li class='menu-item menu-item-top-level av-menu-button av-menu-button-colored menu-item-top-level-1'><a href="{% url 'amerixindustries' %}" ><span class='avia-bullet'></span><span class='avia-menu-text'>INDUSTRIES</span></a></li>
			<li class='menu-item menu-item-top-level av-menu-button av-menu-button-colored menu-item-top-level-2'><a href="{% url 'amerixfoodbev' %}" ><span class='avia-bullet'></span><span class='avia-menu-text'>FOOD & BEVERAGES</span></a></li>
			<li class='menu-item menu-item-top-level av-menu-button av-menu-button-colored menu-item-top-level-3'><a href="{% url 'amerixconsumergoods' %}" ><span class='avia-bullet'></span><span class='avia-menu-text'>CONSUMER GOODS</span></a></li>
			<li class='menu-item menu-item-top-level av-menu-button av-menu-button-colored menu-item-top-level-4'><a href="{% url 'amerixretail' %}" ><span class='avia-bullet'></span><span class='avia-menu-text'>RETAIL</span></a></li>
			<li class='menu-item menu-item-top-level av-menu-button av-menu-button-colored menu-item-top-level-5'><a href="{% url 'amerixconfectionnery' %}" ><span class='avia-bullet'></span><span class='avia-menu-text'>CONFECTIONERY LOGISTICS</span></a></li>
		</ul>
	</div>
</div>